<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
	<link rel="stylesheet" type="text/css" href="Practice.css">
	<title>HTML</title>
	<meta name="author" content="Sarathy">
	<meta name="description" content="My first HTML document in years">
	<meta name="keywords" content="Sarathy, HTML, CSS, JavaScript, Hello World">
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="60">
</head>

<body id="home" ng-app="angularApp" ng-init="names=['Sarathy', 'Gautham', 'Arthi']">
	<div id="heading">
		<h1> HTML practice page </h1>
	</div>
	<ul>
		<li><a class="active" href="file:///Users/Sarathy/Documents/HTML/Practice.html">Home</a></li>
		<li><a href="#Aboutme">About me</a></li>
		<li><a href="#Profiles">Profiles</a></li>
		<li id="no-border"><a href="#Contact">Contact</a></li>
		<li id="no-border">
			<div class="dropdown"><a href="#Navigation">Menu</a>
				<div class="dropdown-content">
					<a class="active" href="file:///Users/Sarathy/Documents/HTML/Practice.html">Home</a>
					<a href="#Aboutme">About me</a>
					<a href="#Profiles">Profiles</a>
					<a href="#Contact">Contact</a>
				</div>
			</div>
		</li>
	</ul>

	<p>Click on the picture to visit my
		<a id="link" href="https://www.linkedin.com/in/bala-krishna-sarathy-71aa344b" target="_blank">LinkedIn page</a>
	</p>
	<a href="https://www.linkedin.com/in/bala-krishna-sarathy-71aa344b" target="_blank">
		<img id="MyPic" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/023/25b/0c9772a.jpg" alt="My LinkedIn profile picture"
			title="Link to my LinkedIn page"></a>

	<hr />
	<div id="QualTable">
		<table>
			<caption>Qualifications</caption>
			<tr>
				<th>Arjun</th>
				<td>BE</td>
				<td>MS</td>
				<td>EE</td>
			</tr>
			<tr>
				<th>Sarathy</th>
				<td>BE</td>
				<td>MS</td>
				<td>CSE</td>
			</tr>
		</table>
	</div>

	<fieldset>
		<legend>Name group</legend>
		<form name="myForm">
			First Name : <input class="inputName" type="text" name="firstName" onchange="capitalize()" maxlength="20" placeholder="First Name"
				ng-model="firstName" required></input>
			<br/> Last Name : <input class="inputName" type="text" name="lastName" onchange="capitalize()" maxlength="20" placeholder="Last Name"
				ng-model="lastName" required></input>
			<select name="Qualification">
				<option value = "BE">BE</option>
				<option value = "MS" selected="selected">MS</option>
			</select><br />
			E-mail :<input name="Email" class="inputName" type="email" placeholder="E-mail" ng-model="email"></input>
			<div ng-show="myForm.Email.$error.email">Not a valid e-mail address</div>
			<br />
			<textarea id="Comments" name="Comments" rows="1" cols="10">This is just FYI</textarea>
			<button type="reset" onclick="changeText()">Reset Text</button><br />
		</form>
	</fieldset>
	<div id="date"></div>
	<my-directive></my-directive>
	<div>
		<span ng-repeat="x in names">
			{{ x }}
		</span>
	</div>
	<div>I am <span ng-controller="myControl" ng-bind="myName"></span></div>
	<script src="Practice.js"></script>
</body>

</html>