<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
	<link rel="stylesheet" type="text/css" href="Practice.css">
	<title>HTML</title>
	<meta name="author" content="Sarathy">
	<meta name="description" content="My first HTML document in years">
	<meta name="keywords" content="Sarathy, HTML, CSS, JavaScript, Hello World">
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="60">
</head>

<body id="home" ng-app="angularApp">
	<div id="heading">
		<h1 ng-controller="headingTimeController">{{displayText}}</h1>
	</div>
	<ul>
		<li><a class="active" href="file:///Users/Sarathy/Documents/HTML/src/Practice.html">Home</a></li>
		<li><a href="#Aboutme">About me</a></li>
		<li><a href="#Profiles">Profiles</a></li>
		<li id="no-border"><a href="#Contact">Contact</a></li>
		<li id="no-border">
			<div class="dropdown"><a href="#Navigation">Menu</a>
				<div class="dropdown-content">
					<a class="active" href="file:///Users/Sarathy/Documents/HTML/src/Practice.html">Home</a>
					<a href="#Aboutme">About me</a>
					<a href="#Profiles">Profiles</a>
					<a href="#Contact">Contact</a>
				</div>
			</div>
		</li>
	</ul>

	<p>Click on the picture to visit my
		<a id="link" href="https://www.linkedin.com/in/bala-krishna-sarathy-71aa344b" target="_blank">LinkedIn page</a></p>
	<a href="https://www.linkedin.com/in/bala-krishna-sarathy-71aa344b" target="_blank">
		<img id="MyPic" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/023/25b/0c9772a.jpg" alt="My LinkedIn profile picture"
			title="Link to my LinkedIn page"></a>

	<hr />
	<div id="QualTable">
		<table>
			<caption>Qualifications</caption>
			<tr>
				<th>Arjun</th>
				<td>BE</td>
				<td>MS</td>
				<td>EE</td>
			</tr>
			<tr>
				<th>Sarathy</th>
				<td>BE</td>
				<td>MS</td>
				<td>CSE</td>
			</tr>
		</table>
	</div>

	<fieldset>
		<legend>Name group</legend>
		<form name="myForm">
			First Name : <input class="inputName" type="text" name="firstName" onchange="capitalize()" maxlength="20" placeholder="First Name"
				ng-model="firstName" required></input>
			<span ng-show="myForm.firstName.$error.required">*</span>
			<br/> Last Name : <input class="inputName" type="text" name="lastName" onchange="capitalize()" maxlength="20" placeholder="Last Name"
				ng-model="lastName" required></input>
			<span ng-show="myForm.lastName.$error.required">*</span>
			<select name="Qualification" ng-controller="degreeController">
				<option ng-repeat="y in degreeList" value="{{y}}">{{y}}</option>
			</select><br /> E-mail :<input name="Email" class="inputName" type="email" placeholder="E-mail" ng-model="email" required></input>
			<span
				ng-show="myForm.Email.$error.required">*</span>
				<div ng-show="myForm.Email.$error.email">Not a valid e-mail address</div>
				<br />
				<textarea id="Comments" name="Comments" rows="1" cols="10">This is just FYI</textarea>
				<button type="reset" onclick="changeText()">Reset Text</button>
				<button type="submit">Submit</button><br />
		</form>
	</fieldset>
	<br /><br />
	<my-directive style="display:inline-block"></my-directive>
	<span ng-controller="nameController">
		<span ng-repeat="x in nameList">
			{{x | customFormat}}
		</span>
	</span><br /><br />
	<span ng-controller="tableAngSort">
		<table>
			<tr>
				<th></th>
				<th ng-click="orderByMethod('name')">
					Name
				</th>
				<th ng-click="orderByMethod('rollNumber')">
					RollNo
				</th>
				<th ng-click="orderByMethod('city')">
					City
				</th>
			</tr>
			<tr ng-repeat="z in database | orderBy: selectedOrder : reverseOrder ">
				<td>{{$index + 1}}</td>
				<td>{{z.name}}</td>
				<td>{{z.rollNumber}}</td>
				<td>{{z.city}}</td>
			</tr>
		</table>
		<!--<select ng-model="selectedName" ng-options="z.name for (y,z) in database"></select>-->
	</span>

	<p ng-controller="siteController">{{statuscode}}</p>
	<p ng-controller="timerController">Hello timer is {{"00:" +timer}}</p>

	<div id="date"></div>
	<script src="Practice.js"></script>
</body>

</html>